<h1>Edit <%= @problem.name %></h1>

<%= form_for @problem do |f| %>
  <div class="edit_box" >
    <%= f.label :address %>
    <%= f.text_field :address, value: @problem.address %>
  </div>

    <%= f.submit "Confirmar Dirección" %>
<% end %>

<script src="http://maps.googleapis.com/maps/api/js?[GOOGLE_MAPS_KEY]"></script>

<div id="googleMap" style="width:800px;height:520px;"></div>



<a href="/problems/new">New Problem</a>

<br>

<a href="/problems">Problems</a>
