<div class="row">
  <div class="medium-4 columns">

    <h1>Problemas</h1>

    <% @problems_to_complete.each do |problem| %>
      <div class="each_problem">
        <div class="title_of_problem">
          <%=link_to problem.name, problem_path(problem.id) %>
        </div>
        <div class="address_of_problem">
          <%= problem.address %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="medium-4 columns">
    <h1>Mapa</h1>
    <script src="http://maps.googleapis.com/maps/api/js?<%= ENV['GOOGLE_MAPS_KEY'] %>"></script>
    <div class="the_map problem-map" id="googleMap"></div>
  </div>

  <div class="medium-4 columns">

    <h1>Problemas</h1>

    <% @problems_to_complete.each do |problem| %>
      <div class="each_problem">
        <div class="title_of_problem">
          <%=link_to problem.name, problem_path(problem.id) %>
        </div>
        <div class="address_of_problem">
          <%= problem.address %>
        </div>
     </div>
    <% end %>
  </div>
</div>

<a href = "/problems/new">Create a new problem</a>
