<h1>¿Cuál es el problema?</h1>

<%= form_for(@problem) do |f| %>


  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <li class="radio_button" >
        <%= f.radio_button :name, "Basura"%>
        <%= f.label :name, "Basura" %>
      </li>

      <li class="radio_button">
        <%= f.radio_button :name, "Bache"%>
        <%= f.label :name, "Bache" %>
      </li>

      <li class="radio_button">
        <%= f.radio_button :name, "Falta de Luz Pública" %>
        <%= f.label :name, "Falta de Luz Pública" %>
      </li>

      <li class="radio_button">
        <%= f.radio_button :name, "Basura en la calle" %>
        <%= f.label :name, "Basura en la calle" %>
      </li>

      <li class="radio_button">
        <%= f.radio_button :name, "Cables Cruzados" %>
        <%= f.label :name, "Cables Cruzados" %>
      </li>

      <li class="radio_button">
        <%= f.radio_button :name, "No hay electricidad" %>
        <%= f.label :name, "No hay electricidad" %>
      </li>



      <li class="radio_button">
        <%= f.radio_button :name, "Limpiar la calle" %>
        <%= f.label :name, "Limpiar la calle" %>
      </li>

      <li class="radio_button">
        <%= f.radio_button :name, "Falta de agua" %>
        <%= f.label :name, "Falta de agua" %>
      </li>
  </ul>

<% end %>

<a href="/problems">Problems</a>

<div id="out"></div>
