<h1>Submit a Problem!</h1>

<%= form_for(@problem) do |f| %>

  <p class="radio_button" >
    <%= f.radio_button :name, "Basura"%>
    <%= f.label :name, "Basura" %>
  </p>
  <p class="radio_button" >
    <%= f.radio_button :name, "Baches", id: "Baches" %>
    <%= f.label :name, "Baches" %>
  </p>

  <p class="radio_button"  >
    <%= f.radio_button :name, "Falta de Luz Pública" %>
    <%= f.label :name, "Falta de Luz Pública" %>
  </p>
  <p class="radio_button" >
    <%= f.radio_button :name, "Basura en la calle" %>
    <%= f.label :name, "Basura en la calle" %>
  </p>

  <p class="radio_button"  >
    <%= f.radio_button :name, "Cables Cruzados" %>
    <%= f.label :name, "Cables Cruzados" %>
  </p>
  <p class="radio_button" >
    <%= f.radio_button :name, "No hay electricidad" %>
    <%= f.label :name, "No hay electricidad" %>
  </p>


  <p class="radio_button"  >
    <%= f.radio_button :name, "Limpiar la calle" %>
    <%= f.label :name, "Limpiar la calle" %>
  </p>
    <p class="radio_button" >
    <%= f.radio_button :name, "Falta de agua" %>
    <%= f.label :name, "Falta de agua" %>
  </p>

  <div class="actions" id="submit-button">
    <%= f.submit %>
  </div>

<% end %>



<div id="out"></div>
